<div class="copyright">
    <div class="container">
        <div class="row">
		<div class="col-sm-12">
		</div>
            <div class="col-sm-12"> 
                <span>Copyright &copy; <%= theme.since %> 星云比特科技有限公司
                </span>  
				<span>
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1272924949'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1272924949%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
